*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(221, 211, 198);
}

nav{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

.logo{
    text-transform: uppercase;
    letter-spacing: 2px;

}

a{
    color: #cbb9b9;
    text-decoration: none;
    transition: 0.4s;
}

a:hover{
    opacity: 0.7;

}

ul{
    display: flex;
    list-style: none;
    gap: 30px;
    letter-spacing: 2px;
}